@import './smart-grid.scss';

nav {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    
    .logo {
        width: 200px;
    }
    .menu {

        z-index: 111;

        &-list {
            display: flex;
            padding: 10px 0;
        }

        &-item {
            margin: 0 15px;
            position: relative;

            &:hover .submenu-list {
                opacity: 1;
                visibility: visible;
                transform: translateY(0) scale(1);
            }
        }

        &-link {
            font-size: 18px;
            font-weight: 600;
            padding: 10px 0;
            color: #8799a3;
            transition: color .3s ease-in-out;


            &:hover {
                color: #0081ff;
            }
        }
    }

    .submenu- {
        &list {
            width: 380px;
            padding: 13px 0;
            position: absolute;
            z-index: 11;
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            background: #fff;
            top: 200%;
            left: -50%;
            border-radius: 11px;
            box-shadow: 0px 10px 90px 0px rgba(0,0,0,.3);
            box-sizing: border-box;
            transform: translateY(-120px) scale(0);
        }

        &item {
            padding: 0 40px;
            box-sizing: border-box;
            transition: all .3s;
            position: relative;
            
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 0px;
                background: #0081ff;
                border-radius: 0 5px 5px 0;
                transition: all .3s;
            }

            &:hover::before {
                width: 4px;
            }

            &:hover .submenu-link {
                color: #0081ff;
            }
        }

        &link {
            transition: all .3s;
            padding: 12px 0;
            display: block;
            white-space: nowrap;
            font-weight: 700;
            text-decoration: none;
            color: #8799a3;
            font-size: 14px;
            line-height: 22px;
            border-bottom: 2px solid #f3f4f6;
        }
    }

    .btn-toggle {
        width: 2.5rem;
        height: 2.5rem;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        

        .btn-lines {
            width: 80%;
            height: 3px;
            background: #000;
            border-radius: 2rem;
            transition: all .3s ease-in-out;
        }

        &.active {
            .btn-lines:first-of-type {
                transform: rotate(49deg) translate(10px, 11px);
            }
            .btn-lines:nth-of-type(2) {
                opacity: 0;
            }
            .btn-lines:last-of-type {
                transform: rotate(-47deg) translate(4px, -6px);
            }
        }
    }

    .contact {
        display: flex;

        .phone-call {
            padding-right: 10px;
            a {
                display: block;
                text-align: right;
                font-size: 18px;
                color: #000;
            }

            .phone-number {
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .call-back {
                transition: color .3s;

                &:hover {
                    color: #0081ff;
                }
            }

            @include sm-block {
                display: none;
            }
        }
    }

    .messengers {
        .btn-telegram {
            display: inline-block;
            background: #41B4E6;
            padding: 10px 25px;
            color: #fff;
            border: 1px solid #41B4E6;
            transition: all 0.3s ease;
            cursor: pointer;
            box-sizing: border-box;
            font-size: 18px;
            border-radius: 5px;
            color: #000;

            .fa {
                display: block;
                font-size: 22px;
                margin-right: 10px;
            }

            &:hover {
                background: #fff;
                color: #0081ff;
            }

            @include sm-block {
                padding: 5px;
                color: #fff;
                width: 30px;
                height: 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                .text {
                    display: none;
                }
            }
        }

        .btn-whatsapp {
            display: none;
            background: #00E676;
            padding: 10px 25px;
            color: #fff;
            border: 1px solid #00E676;
            transition: all 0.3s ease;
            cursor: pointer;
            box-sizing: border-box;
            font-size: 18px;
            border-radius: 5px;
            color: #000;

            .fa {
                display: block;
                font-size: 22px;
                margin-right: 10px;
            }

            &:hover {
                background: #fff;
                color: #00E676;
            }

            @include sm-block {
                padding: 5px;
                color: #fff;
                width: 30px;
                height: 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                .text {
                    display: none;
                }
            }
        }

    }

    // Media queries

    @include sm-block {
        padding: 15px 20px;

        .logo {
            width: 145px;
        }


        .menu {
            position: relative;
            order: 111;
            
            &-list {
                display: block;
                position: absolute;
                top: 100%;
                right: 0%;
                width: 250px;
                padding: 20px;
                background-color: #fff;
                box-sizing: border-box;
                border-radius: 11px;
                transition: all .3s;
                transform: translateY(-40px);
                opacity: 0;
                visibility: hidden;
                box-shadow: 0 0 100px rgba(0,0,0,.3);
            }

            &-item:hover .submenu-list {
                max-height: 10000px;
            }

            &-link {
                display: block;
                padding: 1rem 0;
                color: #8799a3;
            }

            .btn-toggle {
                display: flex;
            }
            &.active .menu-list {
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }
        }
        
        .submenu- {
            &list {
                width: 100%;
                position: static;
                visibility: visible;
                opacity: 1;
                padding: 0;
                background: #fff;
                border-radius: 0;
                box-shadow: none;
                transform: none;
                transition: all .5s;
                max-height: 0;
                overflow: hidden;
            }
    
            &item {
                padding: 0;
                
                &::before {
                    content: none;
                }
            }
    
            &link {
                white-space: normal;
            }
        }
    }
}

header {
    background-color: #cacccb;
    box-sizing: border-box;
}